/Server/target/*
/Server/.idea/*
/Server/*.iml
/Server/target/
/Server/src/main/resources/application.properties
/Server/.setting/*
/Server/.classpath
/Server/.project
/Server/HELP.md
/Server/target/
/Server/!.mvn/wrapper/maven-wrapper.jar
/Server/!**/src/main/**
/Server/!**/src/test/**
/Server/.apt_generated
/Server/.classpath
/Server/.factorypath
/Server/.project
/Server/.settings
/Server/.springBeans
/Server/.sts4-cache
/Server/.idea
/Server/*.iws
/Server/*.iml
/Server/*.ipr
/Server/HELP.md
/Server/nbproject/private/
/Server/nbbuild/
/Server/dist/
/Server/nbdist/
/Server/.nb-gradle/
/Serverbuild/
/Server.vscode/

/Client/target/*
/Client/.idea/*
/Client/*.iml
/Client/target/
/Client/src/main/resources/application.properties
/Client/.setting/*
/Client/.classpath
/Client/.project
/Client/HELP.md
/Client/target/
/Client/!.mvn/wrapper/maven-wrapper.jar
/Client/!**/src/main/**
/Client/!**/src/test/**
/Client/.apt_generated
/Client/.classpath
/Client/.factorypath
/Client/.project
/Client/.settings
/Client/.springBeans
/Client/.sts4-cache
/Client/.idea
/Client/*.iws
/Client/*.iml
/Client/*.ipr
/Client/nbproject/private/
/Client/nbbuild/
/Client/dist/
/Client/nbdist/
/Client/.nb-gradle/
/Client/build/
/Client/.vscode/
/Client/.mvc/*
/Client/spring-shell.log

target/*
.idea/*
*.iml
/target/
/src/main/resources/application.properties
.setting/*
.classpath
.project
/.ideia/*
.ideia/*
.ideia
